
@{
    ViewBag.Title = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="header">
                    <h4 class="title">Create New Product</h4>
                </div>
                <div class="content">
                    <form id="productForm" method="post" action="/Product/Create" enctype="multipart/form-data" data-parsley-validate="" data-parsley-ui-enabled="true">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" name="FirstName">Product Name</label>
                                    <input class="form-control" placeholder="Product Name" id="productName" required="" name="ProductName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" name="LastName">Cost Price</label>
                                    <input class="form-control" placeholder="Cost Price" id="costPrice" required="" name="CostPrice" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" name="Gender">Product Model</label>
                                    <input class="form-control" placeholder="Product Model" id="productModel" required="" name="ProductModel" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" name="Gender">Product Images</label>
                                    <input type="file" class="form-control" placeholder="Product Image" id="productImage" required="" name="files" multiple />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="control-label" name="StaffId">Description</label>
                                    <textarea class="form-control" placeholder="Description" id="Description" name="Description" required=""></textarea>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <button id="register" type="submit" class="btn btn-info btn-fill pull-right">Create Product</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

